body{
	background-image: url(../images/background16.jpg);
	background-size: cover;
	color: black;
	font-family:Times New Roman, Helvetica, sans-serif;
	font-size:1.5vw;
	line-height:1.6em;
	width: 99%;
	font-weight: 900;
}
#wrapper{
	margin-left: 15%;
}
header{
	margin-top: 30px;
	margin-bottom: 100px;
	border-bottom: solid;
}
header h1{
	float: left;
	margin-right: 30%;
}
header img {
	width: 8%;
	height: auto;
}
#szoveg{
	color: black;
	margin-right:70px;
	margin-top: 80px;
}
#burger1 img{
	float: left;
	width: 30%;
	margin-left: 50px;
	margin-right: 150px;
}
#burger2 img{
	width: 30%;
	float: left;
	margin-left: 50px;
	margin-right: 30px;
}
#burger3 img{
	width: 30%;
	float: right;
	margin-right: 50px;
	margin-left: 10px;
}
#szoveg2{
	padding-right:40%;
}
#szoveg3 {
	padding-left: 40%;
}

#szoveg1 {
	margin-left:10%;
	font-weight: 900;
	margin-right: 60%;
}
