body{
	background-image: url(../images/background18.jpg);
	background-size: cover;
	color: black;
	font-family:Times New Roman, Helvetica, sans-serif;
	font-size:1.6vw;
	line-height:1.6em;
	width: 99%;
	font-weight: 900;
}
header{
	margin-top: 30px;
	margin-left: 35%;
	margin-bottom: 100px;
	border-bottom: solid;
}
header a{
	float: left;
	margin-right: 150px;
}
header img {
	width: 70px;
}
section img{
	float: left;
	margin-bottom: 50px;
}
#pite{
	width: 30%;
}
#torta{
	width: 15.5%;
}
#mpite1{
	width: 27%;
	margin-left: 14.5%;
}
#mpite2{
	width: 27%;
}
section h3{
	float:left;
	margin-right: 30px;
	margin-left: 120px;
	text-decoration: underline;
}
#szoveg{
	margin-right: 120px;
}