body{
	background-image: url(../images/background16.jpg);
	background-size: cover;
	color: black;
	font-family:Times New Roman, Helvetica, sans-serif;
	font-size:1.5vw;
	line-height:1.6em;
	width: 99%;
	font-weight: 900;
}
#wrapper{
	margin-left: 15%;
}
header{
	margin-top: 30px;
	margin-bottom: 100px;
	border-bottom: solid;
}
header h1{
	float: left;
	margin-right: 30%;
}
header img {
	width: 8%;
	height: auto;
}
#elsokep{
	float:left;
	padding-left:5%;
}
#elsokep{
	width: 35%;
	height: auto;
}
#masodikkep{
	width: 31.5%;
	height: auto;
}
#croque img{
	margin-right: 2%;
	margin-left: 2%;
}
#croque h3{
	margin-top: 6%;
	float: left;
}
#pie img{
	width: 24%;
	margin-left:1%;
	float: left;
	margin-right:1%;
}
#steak img{
	width: 23%;
	float: left;
	margin-right:1%;
}
#risotto img{
	width: 20.5%;
	float: left;
	margin-right:1%;
}
#taco img{
	width: 27.3%;
	float:left;
}
#szoveg li{
	display: inline-block;
	padding-left:5%;
	padding-right: 6%;
}
#szoveg ul{
	list-style: none;
}
h3{
	text-decoration: underline;
}