body{
	background-image: url(../images/background8.jpg);
	background-size: cover;
	color: white;
	font-family:Times New Roman, Helvetica, sans-serif;
	font-size:30px;
	line-height:1.6em;
	width: 1900px;
	font-weight: 900;
}
header{
	margin-top: 30px;
	margin-left: 35%;
	margin-bottom: 100px;
	border-bottom: solid;
}
header a{
	float: left;
	margin-right: 150px;
}
header img {
	width: 70px;
}
img{
	width: 42%;
	float: right;
}

section h5{
	text-align: center;
	margin-left: 20%;
	font-size:35px;
}
section h2{
	margin-left: 33%;
	text-decoration: underline;
	margin-bottom: 100px;
}
